@import "normalize";
@import "modern-business";

* {
  box-sizing: border-box;
}

@import "navbar";

body {
  h1 {
    color: white;
  }
  hr{
    display: none
  }
}

@mixin column-setup() {
  text-align: left;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: top;
}
.section.lead{
  height: auto;
  .container{
    .row{
      padding: 0px;
    }
  }
}
.section-colored{
  padding: 0px;
}
.section{
  padding: 0px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  clear: both;
  .row{
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  form {
    .row {
      padding: 0px;
    }
    height: auto;
    
  }

}

.row {
  clear: both;
  text-align: center;
}

footer {
  margin: 0;
  .row {
    .col-lg-12 {
      text-align: left;
      @include column-setup();
    }
  }
}



ol {
  list-style-type: none;
  text-align: left;
  .active {
    color: #a5abad;
  }
  padding: 0px;
    li {
      float: left;
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
      padding-top: 5px;
      vertical-align: middle;

    }
}
.list-inline {
  list-style-type: none;
  text-align: left;
  height: 75px;
  padding: 0px;
  li {
    float: left;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    vertical-align: middle;
  }

}
.breadcrumb {
  width: 100%;
  background-color: #f7f7f7;
  height: 30px;
  color: #a5abad;

}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #3db7e0;
}




.form-group{
  width: 100%;
  margin-bottom: 20px;
}


.form-group input{
  width: 90%;
  margin-right: 10%;
}

.form-group textarea{
  width: 100%;
}

.form-group label{
  float:left;
}




.img-responsive{
  width: 100%;
}


.page-header {
  color: black;
  text-align: left;
  small {
    color: #a5abad;
  }
}

.form-group .btn{
  float: left;
}
.btn{
  border-radius: 10%;
  box-shadow: none;
  text-shadow: none;
  border: none;
  padding: 8px;
}
.btn.btn-primary{
  color: white;
  background-color: #22b7f2
}

@import 'media-queries'
